{% extends 'base.html' %}
{% load static %}
{% load sidebar %}
{% load category %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}
 <!-- Page Content -->
 <div class="container">

    <div class="row">
    
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Blog Post -->
        
        {% for post in posts %}
        <div class="card border-light mb-4">
              
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.content|truncatewords_html:40|safe }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            <h6><i class="fa fa-calendar fa-fw"></i>&nbsp;&nbsp;{{ post.created_at|date:"d.m.Y" }}
              {% if post.author %}
                  <i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;{{ post.author }}</h6>
              {% else %}
                  <i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;Нет автора</h6>
              {% endif %}

          </div>
            
        </div>
        {% empty %}
        <div class="info-search">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> К сожалению! </strong> По вашему запросу&nbsp;&nbsp;{{ info }}&nbsp;&nbsp;ничего не найдено....
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        {% endfor %}
    

        <!-- Pagination -->
        {% if page_obj.has_other_pages %}
        <div class="pegination">
          <div class="nav-links">
            {% if page_obj.has_previous %}
                <a class="page-numbers" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
                
                {% if page_obj.number == p %}
                    <span class="page-numbers current">{{ p }}</span>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                    <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="page-numbers" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endif %}
          </div> 
        </div>
        {% endif %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

      {% get_popular 5 %}

        <!-- Categories Widget -->
      {% show_category %}

        <!-- Tags Widget -->
      {% get_tags %}
         <!-- Side Widget -->
      <div class="card border-light my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets.
        </div>
      </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}