{% load static %}
<div class="card border-light my-4">
    <h5 class="card-header">Популярные статьи</h5>
    <div class="card-body">
        {% for post in posts %}
        <div class="portfolio-item-popular">
            <img src="{% static 'img/paper-icon.png' %}" alt="{{ post.title }}">
            <div class="portfolio-text">
                <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                <p>{{ post.author }} <span>|</span>{{ post.created_at|date:"d.m.Y" }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>