{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}IT Blog{% endblock %}</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'blog-home.css' %}" rel="stylesheet">
  <!--link rel="stylesheet" href="{% static 'css/awesome/all.css' %}" -->

<script src="https://use.fontawesome.com/ba196fcb1a.js"></script>


</head>

<body>
        

        {% cache 20 header %}
        {% include 'inc/_header.html' %}
        {% endcache %}
       

        {% block content %}{% endblock %}

        {% cache 20 footer %}
        {% include 'inc/_footer.html' %}
        {% endcache %}
       


<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>      
