{% load static %}
{% load category %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #fff;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/student-education.png' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Главная
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Рубрики
            </a>
            {% show_menu_category %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">О Блоге</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>          
        </ul>
      </div>
   
    </div>
  </nav>
</nav>
<section class="wrapper info-section">
	<div class="container 50%">
		<section> 
			<header class="major">
				<h1>Блок IT специалиста</h1>
				<p>Найдите нужную вам информацию<br>в одной из инструкций</p>
			</header>
			<div class="row">
				<div class="12u 12u$(small)">
					<!-- search -->
					<form action="{% url 'search' %}" method="GET">
            <input name="s" type="search">
            <i class="fa fa-search"></i>
          </form>
					<!-- /search -->
				</div>
			</div>
		</section> 
	</div>
</section>